.bread-crumbs
  font-size: 14px
  color: #FFF
  font-weight: 500
  line-height: 1.1
  flex: none
  margin-bottom 15px

  a
    text-decoration: none
    color: #fff

    &:hover
      text-decoration: underline

  &__separator
    color: #fff
    margin-left: 0
    margin-right: 3px

/*     &:nth-last-child(2)
      @media (max-width: 767px)
        display: none */

  /* &__page-title
    @media (max-width: 767px)
      display: none */