.main-menu
  position: absolute
  top: 100%
  left: 0
  width: 100%
  min-height: 540px
  padding-top: 65px
  padding-bottom: 55px
  background-color: #FFF
  border-top: 1px solid #E0E0E0
  z-index: 5
  opacity: 0
  visibility: hidden
  transform: translateY(-50px)
  transition: opacity 0.3s, transform 0.3s, ease 0.3s

  &._is-show
    opacity: 1
    visibility: visible
    transform: translateY(0)

  @media (max-width: 767px)
    padding-top: 35px
    padding-bottom: 30

  &__nav
    display: flex
    margin-bottom: 80px

    @media (max-width: 1279px)
      flex-wrap: wrap

    @media (max-width: 767px)
      margin-bottom: 40px

    ul
      list-style: none
      padding-left: 0
      margin: 0

      li
        a
          display: inline-block
          vertical-align: top

          &:hover
            text-decoration: underline

    > ul
      width: 25%
      margin-right: 30px

      @media (max-width: 1279px)
        margin-bottom: 20px

      @media (max-width: 767px)
        width: 50%
        margin-right: 0

      @media (max-width: 413px)
        width: 100%

      > li
        > a
          font-size: 20px
          color: #333
          font-weight: 500
          line-height: 1.1
          text-decoration: none

        ul
          padding-top: 15px

          li
            a
              font-size: 14px
              color: rgba(51, 51, 51, 0.5)
              font-weight: 500
              line-height: 1.1
              text-decoration: none
              margin-bottom: 10px

  &__content
    display: flex
    align-items: center
    flex-wrap: wrap

    @media (max-width: 1279px)
      margin-bottom: 80px

    @media (max-width: 767px)
      margin-bottom: 40px
      display: block

  &__info
    flex: 0 0 115px
    width: 115px
    max-width: 115px
    flex-direction: column
    margin-right: 15px
    margin-bottom: 15px
    display: none

    @media (max-width: 1279px)
      display: flex

    span
      font-size: 12px
      color: #000
      font-weight: 500
      line-height: 1.1

    a
      font-size: 12px
      color: #7A808E
      font-weight: 600
      line-height: 1.1
      text-decoration: none
      position: relative
      align-self: flex-start

      &:after
        content: ''
        top: 0
        right: -20px
        position: absolute
        width: 14px
        height: 12px
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1.11724C7 0.866909 7.28851 0.726684 7.48535 0.881343L13.4996 5.60684C13.7544 5.80702 13.7544 6.19297 13.4996 6.39315L7.48535 11.1187C7.28851 11.2733 7 11.1331 7 10.8828L7 8L4.42857 8C2.53502 8 1 9.53502 1 11.4286L1 11.5C1 11.7761 0.776143 12 0.500001 12C0.223859 12 1.04637e-06 11.7761 1.02008e-06 11.5L8.77257e-07 10C5.61749e-07 6.68629 2.68629 3.99999 6 3.99999L7 3.99999L7 1.11724Z' fill='%237A808E'/%3E%3C/svg%3E%0A")
        background-repeat: no-repeat
        background-position: 0 0
        background-size: contain

  &__contacts
    align-items: center
    display: none
    margin-bottom: 15px

    @media (max-width: 1023px)
      display: flex

    @media (max-width: 479px)
      flex-wrap: wrap

  &__social
    text-decoration: none
    flex: 0 0 40px
    width: 40px
    max-width: 40px
    height: 40px
    background-color: #2E3035
    border-radius: 50%
    display: flex !important
    justify-content: center
    align-items: center
    margin-right: 10px

    @media (max-width: 479px)
      margin-bottom: 15px

  &__phones
    flex: 0 0 200px
    width: 200px
    max-width: 200px
    height: 40px
    background-color: #EDF0F7
    border-radius: 20px
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 16px 10px 12px
    margin-right: 10px

    @media (max-width: 479px)
      margin-bottom: 15px

    a
      font-size: 16px
      color: #2E3035
      font-weight: 500
      line-height: 1
      text-decoration: none
      display: block
      position: relative
      z-index: 2

    &:hover
      & ^[0]
        &__other-phones
          opacity: 1
          transform: translateY(0)
          visibility: visible

        &__arrow-phone
          transform: rotate(180deg)

  &__icon-phone
    flex: 0 0 14px
    width: 14px
    max-width: 14px
    height: 20px
    position: relative
    z-index: 2

  &__arrow-phone
    flex: 0 0 10px
    width: 10px
    max-width: 10px
    height: 7px
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.00002 3.63384L2.31804 0.951858C1.92751 0.561334 1.29435 0.561333 0.903823 0.951858C0.513299 1.34238 0.513299 1.97555 0.903823 2.36607L4.64647 6.10871C4.84173 6.30398 5.15831 6.30398 5.35357 6.10871L9.09622 2.36607C9.48674 1.97555 9.48674 1.34238 9.09622 0.951858C8.70569 0.561333 8.07253 0.561334 7.682 0.951858L5.00002 3.63384Z' fill='%232E3035'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: 0 0
    background-size: contain
    position: relative
    z-index: 2
    transition: transform 0.3s, ease 0.3s

  &__other-phones
    width: 100%
    position: absolute
    top: 10px
    left: 0
    background-color: #EDF0F7
    padding-top: 35px
    opacity: 0
    visibility: hidden
    transform: translateY(-10px)
    transition: opacity 0.3s, transform 0.3s, ease 0.3s
    z-index: 1
    border-radius: 20px
    display: flex
    justify-content: center
    flex-wrap: wrap

    a
      margin-bottom: 10px

  &__schedule
    font-size: 12px
    color: #000
    font-weight: 500
    line-height: 1.1
    flex: 0 0 124px
    width: 124px
    max-width: 124px
    margin-right: 10px
    margin-bottom: 15px
    display: none

    @media (max-width: 1279px)
      display: block

  &__email
    font-size: 16px
    color: #2E3035
    font-weight: 500
    line-height: 1
    text-decoration: none
    display: flex
    align-items: center
    flex: 0 0 210px
    width: 210px
    max-width: 210px
    height: 40px
    background-color: #EDF0F7
    border-radius: 20px
    position: relative
    align-items: center
    padding: 10px 12px
    display: none

    @media (max-width: 1023px)
      display: flex

  &__icon-email
    flex: 0 0 18px
    width: 18px
    max-width: 18px
    height: 14px
    margin-right: 10px

  &__links
    display: flex
    flex-direction: column
    margin-bottom: 40px

    @media (max-width: 767px)
      margin-bottom: 20px

    a
      font-size: 14px
      color: rgba(51, 51, 51, 0.5)
      font-weight: 500
      line-height: 1.1
      text-decoration: none
      margin-bottom: 14px

      &:hover
        text-decoration: underline

  &__copy
    font-size: 14px
    color: #BDBDBD
    font-weight: 500
    line-height: 1.1