= yaml =
pageTitle: Бронирование
bodyClasses: booking-page
layout: !!map
  header: true
  footer: true
  left: false
  right: false
= yaml =


{% extends 'app.html' %}

{% block main %}

  <div block="step-menu">
    <div elem="section">
      <nav elem="nav" class="contain">
        <ul>
          <li><a class="_is-active" href="booking-tour-authorization-page.html"><span>Регистрация и Вход</span></a></li>
          <li><a href="#"><span>Параметры тура</span></a></li>
          <li><a href="#"><span>Способ оплаты</span></a></li>
          <li><a href="#"><span>Подтверждение</span></a></li>
        </ul>
      </nav>
    </div>
  </div><!-- step-menu -->

  <div block="booking-block" mods="authorization">
    <div elem="section">
      <div elem="inner" class="contain">
        <div elem="head">
          <h1 elem="title">Регистрация и вход</h1>
        </div>
        <div elem="container">
          <div elem="content">
            <div block="contacts-info">
              <div elem="section">
                <form elem="form">
                  <div elem="wrapper">
                    <div elem="fields">
                      <div elem="name">Войти на сайт</div>
                      <div elem="field">
                        <span>Логин</span>
                        <div elem="input"><input type="text" placeholder=""></div>
                      </div>
                      <div elem="field">
                        <span>Пароль <a href="">Забыли пароль?</a></span>
                        <div elem="input"><input type="password" placeholder=""></div>
                      </div>
                      <button elem="button-sign-in" class="button-default" type="submit">
                        <span>Войти</span>
                      </button>
                    </div>
                    <div elem="fields">
                      <div elem="name">Зарегистрироваться</div>
                      <div elem="text">
                        <p>
                          Впервые на сайте?
                        </p>
                        <p>Зарегистрируйтесь, чтобы оформить бронирование. Это быстро и просто</p>
                      </div>
                      <button elem="button-sign-up" class="button-default" data-remodal-target="tourist_sign_up" type="button">
                        <span>Зарегистрироваться</span>
                      </button>
                    </div>
                  </div>
                </form>
                <div elem="bottom">
                  <p>Вы турагент?</p>
                  <span>Войдите в ваш <a href="#" data-remodal-target="agent_sign_up">Личный кабинет</a></span>
                </div>
              </div>
            </div><!-- contacts-info -->
          </div>
          <div elem="sidebar">
            <div block="sidebar-booking">
              <div elem="section">
                <h2 elem="title">Легенды Карелии Лето 2022</h2>
                <div elem="item">
                  <div elem="text">
                    Тайны петроглифов <span></span> Мраморный каньон с голубой водой <span></span> Традиции карельских
                    ремесленников <span></span> Крупнейший равнинный водопад
                  </div>
                  <div elem="dates">
                    <div elem="date">05.10</div>
                    <div elem="day">СР</div>
                    <span>&mdash;</span>
                    <div elem="date">09.10</div>
                    <div elem="day" mods="weekend">ВС</div>
                    <div elem="day-hours">5 дней / 4 ночи</div>
                  </div>
                </div>
                <div elem="item">
                  <div elem="starting-price">
                    <span>от 18 200 руб./чел.</span>
                    <div elem="explanation">
                      <i></i>
                      <span>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem maiores eum temporibus hic sunt nemo odit, mollitia
                        natus ullam labore molestiae debitis, veritatis saepe earum. Consequuntur sapiente minima unde dicta.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- sidebar-booking -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- booking-block -->

  <div block="popup-sign-up" class="remodal" data-remodal-id="tourist_sign_up">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
      <div elem="inner">
        <div elem="head">
          <h3>Зарегистрироваться</h3>
        </div>
        <div block="contacts-info">
          <div elem="section">
            <form elem="form" mods="personal-data">
              <div elem="wrapper">
                <div elem="fields">
                  <div elem="field-double">
                    <div elem="field">
                      <span>Имя <span>*</span></span>
                      <div elem="input">
                        <input type="text" placeholder="Владимир">
                      </div>
                    </div>
                    <div elem="field">
                      <span>Фамилия <span>*</span></span>
                      <div elem="input">
                        <input type="text" placeholder="Пастухов">
                      </div>
                    </div>
                  </div>
                  <div elem="field">
                    <span>Страна <span>*</span></span>
                    <div elem="select">
                      <select>
                        <option value="Россия">Россия</option>
                        <option value="Беларусь">Беларусь</option>
                        <option value="Казахстан">Казахстан</option>
                        <option value="Киргизия">Киргизия</option>
                      </select>
                    </div>
                  </div>
                  <div elem="field">
                    <span>Адрес<span>*</span></span>
                    <div elem="input">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                  <div elem="field-double">
                    <div elem="field">
                      <span>E-mail <span>*</span></span>
                      <div elem="input"><input type="text" placeholder="">
                      </div>
                    </div>
                    <div elem="field">
                      <span>Телефон</span>
                      <div elem="input"><input type="text" placeholder=""></div>
                    </div>
                  </div>
                  <div elem="field-double">
                    <div elem="field">
                      <span>Новый Пароль <span>*</span></span>
                      <div elem="input" mods="new-password">
                        <input type="password" value="" placeholder="">
                        <button elem="button-show-password" class="js-button-show-password" type="button"></button>
                      </div>
                    </div>
                    <div elem="field">
                      <span>Повторите пароль <span>*</span></span>
                      <div elem="input" mods="new-password">
                        <input type="password" value="">
                        <button elem="button-show-password" class="js-button-show-password" type="button"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div elem="bottom">
                <div elem="note">
                  Этот сайт защищен reCAPTCHA и применяются <a href="#">Политика конфиденциальности</a> и <a
                    href="#">Условия обслуживания</a> Google.
                </div>
              </div>
              <button elem="button-send" mods="sign-up" class="button-default" type="submit">
                <span>Зарегистрироваться</span>
              </button>
            </form>
          </div>
        </div><!-- personal-cabinet -->
      </div>
    </div>
  </div><!-- popup-sign-up -->

  <div block="popup-sign-up" class="remodal" data-remodal-id="agent_sign_up">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
      <div elem="inner">
        <div elem="head">
          <h3>Зарегистрироваться</h3>
        </div>
        <div block="contacts-info">
          <div elem="section">
            <form elem="form" mods="personal-data">
              <div elem="wrapper">
                <div elem="fields">
                  <div elem="field-double">
                    <div elem="field">
                      <span>Имя <span>*</span></span>
                      <div elem="input">
                        <input type="text" placeholder="Владимир">
                      </div>
                    </div>
                    <div elem="field">
                      <span>Фамилия <span>*</span></span>
                      <div elem="input">
                        <input type="text" placeholder="Пастухов">
                      </div>
                    </div>
                  </div>
                  <div elem="field-double">
                    <div elem="field">
                      <span>Новый Пароль <span>*</span></span>
                      <div elem="input" mods="new-password">
                        <input type="password" value="" placeholder="">
                        <button elem="button-show-password" class="js-button-show-password" type="button"></button>
                      </div>
                    </div>
                    <div elem="field">
                      <span>Повторите пароль <span>*</span></span>
                      <div elem="input" mods="new-password">
                        <input type="password" value="">
                        <button elem="button-show-password" class="js-button-show-password" type="button"></button>
                      </div>
                    </div>
                  </div>
                  <div elem="attention">
                    ВНИМАНИЕ! Логин и пароль Вы придумываете самостоятельно.Если Вы не один менеджер компании рекомендуем запомнить и
                    записать его для ваших коллег. Под этим логином и паролем Вы сможете заходить в личный кабинет и видеть историю
                    формирования Вашего заказа.
                  </div>
                  <div elem="field">
                    <span>Страна <span>*</span></span>
                    <div elem="select">
                      <select>
                        <option value="Россия">Россия</option>
                        <option value="Беларусь">Беларусь</option>
                        <option value="Казахстан">Казахстан</option>
                        <option value="Киргизия">Киргизия</option>
                      </select>
                    </div>
                  </div>
                  <div elem="field">
                    <span>Название организации<span>*</span></span>
                    <div elem="input">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                  <div elem="field">
                    <span>Юридический адрес<span>*</span></span>
                    <div elem="input">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                  <div elem="field">
                    <span>Почтовый адрес<span>*</span></span>
                    <div elem="input">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                  <div elem="field-double">
                    <div elem="field">
                      <span>ИНН (УНП для Белоруссии)<span>*</span></span>
                      <div elem="input"><input type="text" placeholder="Владимир">
                      </div>
                    </div>
                    <div elem="field">
                      <span>КПП (только для России)</span>
                      <div elem="input"><input type="text" placeholder="Пастухов"></div>
                    </div>
                  </div>
                  <div elem="field">
                    <span>Расчетный счет<span>*</span></span>
                    <div elem="input">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                  <div elem="field">
                    <span>Банк<span>*</span></span>
                    <div elem="input">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                  <div elem="field">
                    <span>Корреспондентский счет (только для России)<span>*</span></span>
                    <div elem="input">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                  <div elem="field">
                    <span>БИК (только для России)<span>*</span></span>
                    <div elem="input">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                </div>
              </div>
              <div elem="bottom">
                <div elem="note">
                  Этот сайт защищен reCAPTCHA и применяются <a href="#">Политика конфиденциальности</a> и <a
                    href="#">Условия обслуживания</a> Google.
                </div>
              </div>
              <button elem="button-send" mods="sign-up" class="button-default" type="submit">
                <span>Зарегистрироваться</span>
              </button>
            </form>
          </div>
        </div><!-- personal-cabinet -->
      </div>
    </div>
  </div><!-- popup-sign-up -->

{% endblock %}
